:root{
	--num-col:12;
	--gutter:1.6%;
	--espacio-fila:calc(100% - (var(--gutter) * calc(var(--num-col) - 1)));
	--ancho-col:calc(var(--espacio-fila) / var(--num-col));
}

html {box-sizing: border-box;}


*, *::before, *::after{box-sizing: inherit;}

/* Fluido */

.container{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.row {
	position: relative;
}

.row::before,
.row::after{
	content: "";
	display: table;
}

.row::after{
	clear: both;
}

[class|='col'] , .col{
	float: left;
	min-height: 1px;
	width: 100%;
	margin-left: calc(var(--gutter) / 2 - 0.8%);
	margin-right: calc(var(--gutter) / 2 - 0.8%);
}

body{
	background-image: url("../img/conciertos.png");
	background-size: cover;
	background-repeat: no-repeat;
}

main > div{
	background-color: whitesmoke;
	opacity: .7;
	margin-top: .5em;
	padding: .5em;
	border-radius: 3%;
}

main{
	padding: 1em;
	padding: 0 20%;
    
}

.logo{
	width: 6em;
	height: 5em;
	padding: .2em
}

.buscador{
	margin-top: 3.2em;
	margin-left: 3em;
	width: 70%;
}


.datos-usu{
	margin: 1em;
	margin-bottom: 2em;
}

.datos-usu > img {
	float:right;
	width: 4em;
	height: 4em;
}

aside {
 	margin:3em 0 5em;
	padding: 0 20%;
}

button{
	width: 100%;
    border: 2px solid darkgray;
    border-radius: 1.5em;
}

footer > div {
	color:whitesmoke;
	text-align: center;
}

.col-1 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 0); }
.col-2 { width: calc(var(--ancho-col) * 2 + var(--gutter) * 1); }
.col-3 { width: calc(var(--ancho-col) * 3 + var(--gutter) * 2); }
.col-4 { width: calc(var(--ancho-col) * 4 + var(--gutter) * 3); }
.col-5 { width: calc(var(--ancho-col) * 5 + var(--gutter) * 4); }
.col-6 { width: calc(var(--ancho-col) * 6 + var(--gutter) * 5); }
.col-7 { width: calc(var(--ancho-col) * 7 + var(--gutter) * 6); }
.col-8 { width: calc(var(--ancho-col) * 8 + var(--gutter) * 7); }
.col-9 { width: calc(var(--ancho-col) * 9 + var(--gutter) * 8); }
.col-10 { width: calc(var(--ancho-col) * 10 + var(--gutter) * 9); }
.col-11 { width: calc(var(--ancho-col) * 11 + var(--gutter) * 10); }
.col-12 { width: calc(var(--ancho-col) * 12 + var(--gutter) * 11); }



@media screen and (min-width: 576px){
.col-sm-1 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 0); }
.col-sm-2 { width: calc(var(--ancho-col) * 2 + var(--gutter) * 1); }
.col-sm-3 { width: calc(var(--ancho-col) * 3 + var(--gutter) * 2); }
.col-sm-4 { width: calc(var(--ancho-col) * 4 + var(--gutter) * 3); }
.col-sm-5 { width: calc(var(--ancho-col) * 5 + var(--gutter) * 4); }
.col-sm-6 { width: calc(var(--ancho-col) * 6 + var(--gutter) * 5); }
.col-sm-7 { width: calc(var(--ancho-col) * 7 + var(--gutter) * 6); }
.col-sm-8 { width: calc(var(--ancho-col) * 8 + var(--gutter) * 7); }
.col-sm-9 { width: calc(var(--ancho-col) * 9 + var(--gutter) * 8); }
.col-sm-10 { width: calc(var(--ancho-col) * 10 + var(--gutter) * 9); }
.col-sm-11 { width: calc(var(--ancho-col) * 11 + var(--gutter) * 10); }
.col-sm-12 { width: calc(var(--ancho-col) * 12 + var(--gutter) * 11); }

}


@media screen and (min-width: 768px){
.col-md-2 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 0); }
.col-md-3 { width: calc(var(--ancho-col) * 2 + var(--gutter) * 1); }
.col-md-4 { width: calc(var(--ancho-col) * 3 + var(--gutter) * 2); }
.col-md-5 { width: calc(var(--ancho-col) * 4 + var(--gutter) * 3); }
.col-md-6 { width: calc(var(--ancho-col) * 5 + var(--gutter) * 4); }
.col-md-6 { width: calc(var(--ancho-col) * 6 + var(--gutter) * 5); }
.col-md-7 { width: calc(var(--ancho-col) * 7 + var(--gutter) * 6); }
.col-md-8 { width: calc(var(--ancho-col) * 8 + var(--gutter) * 7); }
.col-md-9 { width: calc(var(--ancho-col) * 9 + var(--gutter) * 8); }
.col-md-10 { width: calc(var(--ancho-col) * 10 + var(--gutter) * 9); }
.col-md-11 { width: calc(var(--ancho-col) * 11 + var(--gutter) * 10); }
.col-md-12 { width: calc(var(--ancho-col) * 12 + var(--gutter) * 11); }

}

/* bootstrap col-lg-(numero de columnas) xx */

@media screen and (min-width: 992px){
.col-lg-2 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 0); }
.col-lg-3 { width: calc(var(--ancho-col) * 2 + var(--gutter) * 1); }
.col-lg-4 { width: calc(var(--ancho-col) * 3 + var(--gutter) * 2); }
.col-lg-5 { width: calc(var(--ancho-col) * 4 + var(--gutter) * 3); }
.col-lg-6 { width: calc(var(--ancho-col) * 5 + var(--gutter) * 4); }
.col-lg-6 { width: calc(var(--ancho-col) * 6 + var(--gutter) * 5); }
.col-lg-7 { width: calc(var(--ancho-col) * 7 + var(--gutter) * 6); }
.col-lg-8 { width: calc(var(--ancho-col) * 8 + var(--gutter) * 7); }
.col-lg-9 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 8); }
.col-lg-10 { width: calc(var(--ancho-col) * 10 + var(--gutter) * 9); }
.col-lg-11 { width: calc(var(--ancho-col) * 11 + var(--gutter) * 10); }
.col-lg-12 { width: calc(var(--ancho-col) * 12 + var(--gutter) * 11); }

}

/* bootstrap col-xl-(numero de columnas) xx */

@media screen and (min-width: 1200px){
.col-xl-2 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 0); }
.col-xl-3 { width: calc(var(--ancho-col) * 2 + var(--gutter) * 1); }
.col-xl-4 { width: calc(var(--ancho-col) * 3 + var(--gutter) * 2); }
.col-xl-5 { width: calc(var(--ancho-col) * 4 + var(--gutter) * 3); }
.col-xl-6 { width: calc(var(--ancho-col) * 5 + var(--gutter) * 4); }
.col-xl-6 { width: calc(var(--ancho-col) * 6 + var(--gutter) * 5); }
.col-xl-7 { width: calc(var(--ancho-col) * 7 + var(--gutter) * 6); }
.col-xl-8 { width: calc(var(--ancho-col) * 8 + var(--gutter) * 7); }
.col-xl-9 { width: calc(var(--ancho-col) * 1 + var(--gutter) * 8); }
.col-xl-10 { width: calc(var(--ancho-col) * 10 + var(--gutter) * 9); }
.col-xl-11 { width: calc(var(--ancho-col) * 11 + var(--gutter) * 10); }
.col-xl-12 { width: calc(var(--ancho-col) * 12 + var(--gutter) * 11); }


}
