body {
	background-color: #343a40;
	text-align: center;

}

main iframe{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 80%;

}

header {
	height: 5em;
}

header > div > div > span > img {
	width: 5em;
	margin-top: 1em;
}

header > div > div:nth-of-type(3) > span > img {
	width: 3em;
  margin-top: 1em;
	border-radius: 10%;
}

header > div > div:nth-of-type(2) > input {
	width: 80%;
	border-radius: 2em;
	margin-top: 2.5em;
}

footer {
	margin: 0 0 0 -10px;
	background-color: #343a40;
	height: 4.5em;
	position: absolute;
	bottom: 0;
	width: 100%;
}


/* REPRODUCTOR */

footer > div > div > img {
    max-width: 20px;
}

footer > div > div:nth-of-type(3) > div:nth-of-type(1){
	
}

footer > div > div:nth-of-type(3) > div:nth-of-type(2){

}

footer > div > div:nth-of-type(3) > div:nth-of-type(2)>img{
	margin-top: -10px;
	width: 2.5em;
	height: 2.em;
}

footer > div > div {
    padding: 1em;
}

#reproductor {

	
}




/*                */
