html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #252850;
	text-align: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

header > div {
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header > div > div > span > img,
header > div > div > span > a > img  {
	width: 4em;
	border-radius: 50%;
	border: 5px double #581d37;
}

header > div > div > span > a > img {
	border-radius: 0 0 0 50%;
	margin-top: -1em;
}

iframe{
	position: absolute;
	left: 0px;
	right: 5px;
	bottom: 50px;
	top: 100px;
	width: 100%;
	height: 100%;
	border: 0px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #252850;
	padding: 0 ;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer > div > button {
	margin-top: -4em;
}

img {
	cursor: pointer;
}

/* REPRODUCTOR */

#biblioteca > a > img {
	Width: 20px;
}
