body {
  padding-top: 54px;
}
.logo{
	width: 15%;
}
.usu{
	width: 8%;
	float: right;
	opacity: 0.8;
	border-radius: 30%;
}
.buscador{
	border-radius: 5%;
}
.video{
	max-width: 100%;
	min-width: 100%;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	padding: .25rem;
	height: auto;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
